<footer class="footer">
    <div class="footer-wrapper1">
        <img src="/static/images/logo.png" alt="logo" class="logo" height="30px" width="150px">
    </div>
    <div class="footer-wrapper2">
        <div class="footer-1">
            <h4>Top features</h4>
            <h6>Fill in the gaps</h6>
            <h6>Debug</h6>
            <h6>Quiz</h6>
        </div>
        <div class="footer-2">
            <h4>Top quiz</h4>
            <h6>C</h6>
            <h6>Python</h6>
            <h6>Java</h6>
            <h6>C++</h6>
        </div>
        <div class="footer-3">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <p>&copy; 2024 EZCode. All rights reserved.</p>
        </div>
    </div>
    <div class="footer-wrapper3">
        <h1>Get Updated</h1>
        <form action="#">
            <input type="email" name="email" placeholder="Enter your email address">
            <button type="submit" name="submit">Submit</button>
        </form>
    </div>
</footer>