{% include "header.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
   
    <link rel="stylesheet" href="/static/css/styles.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="header-content">
        <h1>Welcome to EZCode!</h1>
        <h4 class="typewtext">Explore your passion for programming through interactive quizzes, debugging, and fill-in-the-blank challenges.</h4>
        <!-- <a href="#cta" class="btn">Get Started</a> -->
    </div>
    
    <div class="feature-info">
        <h2>Explore Our Features</h2>
    </div>
    <section id="features" class="features">
        <div class="feature-item">
            <div class="feature-section">
                <h3>C</h3>
                <button onclick="window.location.href='{% url 'quiz' %}'">Quiz</button>
                <button onclick="window.location.href='{% url 'fill_latest' %}'">Fill in the blanks</button>
                <button onclick="window.location.href='debug.html'">Debug</button>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature-section">
                <h3>Python</h3>
                <button onclick="window.location.href='python.html'">Quiz</button>
                <button onclick="window.location.href='fill.html'">Fill in the blanks</button>
                <button onclick="window.location.href='debug.html'">Debug</button>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature-section">
                <h3>Java</h3>
                <button onclick="window.location.href='java.html'">Quiz</button>
                <button onclick="window.location.href='fill.html'">Fill in the blanks</button>
                <button onclick="window.location.href='debug.html'">Debug</button>
            </div>
        </div>
    </section>
    
    <section id="cta" class="cta">
        <h2>Ready to Join?</h2>
        <button class="c-button c-button--gooey" onclick="window.location.href='register.html'"> Sign up now
            <div class="c-button__blobs">
            <div></div>
            <div></div>
            
            <div></div>
            </div>
          </button>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block; height: 0; width: 0;">
            <defs>
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
                <feBlend in="SourceGraphic" in2="goo"></feBlend>
              </filter>
            </defs>
          </svg>
    </section>
    
</body>
</html>
{% include "footer.html" %}
